/**
 * Variables
 */

@neutralColor: #ccc;

@fancyColor: #ff7d2a;
@fancyColorInverse: #fff;

@fontSize: 12px;

@bodyWidth: 250px;
@panelMarginRight: 8px;

/**
 * Styling
 */

* {
    box-sizing: border-box;
}

body {
    width: @bodyWidth;
    font-family: 'Lato';
    font-size: @fontSize;
}

p {
    margin-top: 0;

    &:last-child {
        margin-bottom: 0;
    }
}

form input[type=submit] {
    margin-top: 10px;
}

input {
    margin-top: 5px;
    border-radius: 4px;
    outline: 0;

    &:not([type=submit]):not([type=button]) {
        padding: 6px;
        width: 100%;
        border: 1px solid @neutralColor;

        &:focus {
            border-color: darken(@fancyColor, 10%);
            box-shadow: 0 0 12px fade(@fancyColor, 20%);
        }
    }

    &[type=submit], &[type=button] {
        padding: 6px 10px;
        background-color: @fancyColor;
        border: 1px solid darken(@fancyColor, 10%);
        color: @fancyColorInverse;
        cursor: pointer;

        &:hover {
            border-color: darken(@fancyColor, 25%);
            box-shadow: inset 0 0 12px rgba(0,0,0,0.2);
        }

        &:focus {
            border-color: darken(@fancyColor, 25%);
        }

        &:active {
            box-shadow: inset 0 0 12px rgba(0,0,0,0.5);
        }
    }
}

.text-center {
    text-align: center;
}

#panel-list {
    white-space: nowrap; // Avoid any line-breaking between the panels, showing them on a single line
    font-size: 0; // Hide any whitespace between the panels

    transition: margin-left 200ms linear;

    .panel {
        display: inline-block;
        vertical-align: top;
        margin-right: @panelMarginRight;
        width: @bodyWidth; height: 100%;
        
        // Reset those two properties to normal values
        white-space: normal;
        font-size: @fontSize;
    }

    &.display-panel-2 {
        margin-left: (@bodyWidth + @panelMarginRight) * -1;
    }
}

#auth-form {
    margin-top: 8px;
}

#overlay {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border-radius: 2px;
    background: rgba(0,0,0,0.8) url(../images/loading.gif) center center no-repeat;
    opacity: 0;
    
    pointer-events: none;
    transition: opacity 200ms linear;

    &.active {
        pointer-events: auto;
        opacity: 1;
    }
}